# Build
bin/
obj/

# Test & Coverage
TestResults/
coverage/
coverage-report/

# VS
.vs/
*.suo
*.user

# Temp & Logs
*.log
*.tmp

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json
project.nuget.cache

# Resharper
_ReSharper*/
*.DotSettings.user
