.case-event-modal .ant-modal {
    transform: translateX(100%);
    animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
    to {
        transform: translateX(0);
    }
}

.events-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 16px;
}
