
body {
    background-color: #F0F4FB;

}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: auto;
    min-height: 100vh; /* Para ocupar a tela inteira */
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
    flex-direction: column;
}

#initial {
    display: flex;
    flex-wrap: wrap; /* permite quebrar de linha */
    gap: 20px;
    justify-content: center;
}

#buttons-group {
    display: flex;
 
    gap: 50px;
}

#recent-process {
    flex-basis: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#next-audience {
    flex: 2; /* cresce mais */
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-width: 300px; /* opcional para garantir largura */
}
#next-audience h2 {
   width: 50px;
}


#audience-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
